# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcuserdatad

# SwiftPM
.swiftpm/
.build/

# Cocoapods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Firebase
GoogleService-Info.plist
